# Import packages and libraries

In [16]:
import numpy as np
import pandas as pd
from IPython.display import display
# from wordcloud import WordCloud
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC 
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Read and Explore data

In [2]:
def read_data(src):
    
    data = pd.read_csv(src)
    return data

source = "emails.csv"
df = read_data(source)

In [3]:
def explore_data(data):
    
    print(f"Shape of the data: {data.shape}\n")
    
    print("Data information:")
    display(data.info())
    
    print(f"\nNumber of null values in each column:\n{data.isnull().sum()}\n")
    
    print("Data Samples:")
    display(data.head())
    
    print("Data descriptive statistics:")
    display(data.describe())
    
explore_data(df)

Shape of the data: (5172, 3002)

Data information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Columns: 3002 entries, Email No. to Prediction
dtypes: int64(3001), object(1)
memory usage: 118.5+ MB

None

Number of null values in each column:
Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

Data Samples:

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

Data descriptive statistics:

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
count,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,...,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000
mean,6.640565,6.188128,5.143852,3.075599,3.124710,2.627030,55.517401,2.466551,2.024362,10.600155,...,0.005027,0.012568,0.010634,0.098028,0.004254,0.006574,0.004060,0.914733,0.006961,0.290023
std,11.745009,9.534576,14.101142,6.045970,4.680522,6.229845,87.574172,4.314444,6.967878,19.281892,...,0.105788,0.199682,0.116693,0.569532,0.096252,0.138908,0.072145,2.780203,0.098086,0.453817
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,12.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,3.000000,1.000000,1.000000,2.000000,1.000000,28.000000,1.000000,0.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8.000000,7.000000,4.000000,3.000000,4.000000,2.000000,62.250000,3.000000,1.000000,12.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,210.000000,132.000000,344.000000,89.000000,47.000000,77.000000,1898.000000,70.000000,167.000000,223.000000,...,4.000000,7.000000,2.000000,12.000000,3.000000,4.000000,3.000000,114.000000,4.000000,1.000000

# Data Preprocessing

## Check duplicates

In [4]:
duplicateRows = df[df.duplicated()]
duplicateRows

Empty DataFrame
Columns: [Email No., the, to, ect, and, for, of, a, you, hou, in, on, is, this, enron, i, be, that, will, have, with, your, at, we, s, are, it, by, com, as, from, gas, or, not, me, deal, if, meter, hpl, please, re, e, any, our, corp, can, d, all, has, was, know, need, an, forwarded, new, t, may, up, j, mmbtu, should, do, am, get, out, see, no, there, price, daren, but, been, company, l, these, let, so, would, m, into, xls, farmer, attached, us, information, they, message, day, time, my, one, what, only, http, th, volume, mail, contract, which, month, ...]
Index: []

[0 rows x 3002 columns]

In [5]:
X = df.iloc[:, 1:-1]
y = df["Prediction"]
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.2, 
                                                    random_state=3)

# Modelling

## SVM model

In [19]:
svm_clf = make_pipeline(StandardScaler(), SVC(gamma='auto', kernel='linear'))
svm_clf.fit(X_train, y_train)
y_pred_svm = svm_clf.predict(X_test)
print(f"Accuracy of the SVM model: {accuracy_score(y_test, y_pred_svm) * 100:.3f}")
print(f"Confusion Matrix of the SVM model: {confusion_matrix(y_test, y_pred_svm)}")
print(f"Classification report of the SVM model:\n{classification_report(y_test, y_pred_svm)}")

Accuracy of the SVM model: 95.459
Confusion Matrix of the SVM model:
[[724  26]
 [ 21 264]]
Classification report of the SVM model:
              precision    recall  f1-score   support

           0       0.97      0.97      0.97       750
           1       0.91      0.93      0.92       285

    accuracy                           0.95      1035
   macro avg       0.94      0.95      0.94      1035
weighted avg       0.95      0.95      0.95      1035

## Naive Bayes Model

In [20]:
nb_clf = GaussianNB()
nb_clf.fit(X_train, y_train)
y_pred_nb = nb_clf.predict(X_test)
print(f"Accuracy of the Naive Bayes model: {accuracy_score(y_test, y_pred_nb) * 100:.3f}")
print(f"Confusion Matrix of the Naive Bayes model: {confusion_matrix(y_test, y_pred_nb)}")
print(f"Classification report of the Naive Bayes model:\n{classification_report(y_test, y_pred_nb)}")

Accuracy of the Naive Bayes model: 94.976
Confusion Matrix of the Naive Bayes model:
[[716  34]
 [ 18 267]]
Classification report of the Naive Bayes model:
              precision    recall  f1-score   support

           0       0.98      0.95      0.96       750
           1       0.89      0.94      0.91       285

    accuracy                           0.95      1035
   macro avg       0.93      0.95      0.94      1035
weighted avg       0.95      0.95      0.95      1035